:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  gap: 30px;
}

.counter {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #4286f5 3px solid;
  border-radius: 12px;
  gap: 10px;
}

.counter-display {
  height: 55%;
  width: 90%;
  border: #4286f5 3px solid;
  border-radius: 12px;
}

p {
  font-size: 45px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.maxValue {
  color: red;
}

.counter-buttons {
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: #4286f5 3px solid;
  border-radius: 12px;
  gap: 10px;
}

button {
  font-weight: bold;
  font-size: 26px;
  color: #1e1e1e;
  background-color: #4286f5;
  border-radius: 10px;
  height: 45%;
  width: 30%;
}

.settings-section {
  height: 60%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #4286f5 3px solid;
  border-radius: 12px;
}

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 90%;
}

button:disabled {
  background-color: #646868;
}